doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src='//d3js.org/d3.v3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/global.js')

