extends layout

block content

    h1=title

    // Wrapper
    #wrapper

        //CHART
        #chart
        //LOAD INFO
        h2 Data for <span id='hostname'></span>
            p
            strong System Uptime: 
            | <span id='uptime'></span> (s)
            br
            p
            strong Current Load Average (over past 1 minute):
            | <span id="currentLoadAvg"></span>
            br
            br

     h1 Alerts
        h2 
            p 
            strong <span id="warning"></span>
        
        #chart       
  
        // /LOAD INFO
    
    // /WRAPPER
